```{=html}
<div class="list">
  <% for (const item of items) { %>
    <div <%= metadataAttrs(item) %>>
      <div class="jedi-list-item">
        <% if (item.image) { %>
        <a href="<%- item.href %>">
          <img src="<%- item.image %>" width="150" alt="<%- item.alt %>" />
        </a>
        <% } %>
        <a href="<%- item.href %>" class="listing-title"><b><%= item.title %></a></b><br>
        <i><span class="listing-author">By <%= item.author %></span>, <span class="listing-publicationdate">published <%= item.date %></span></i></br>
        <%= item.intro %><br>
      </div>
    </div>
  <% } %>
</div>
```